@import "../../../sass/variables";

.usercard {
  text-align: center;
  width: $card-width;
  height: $reply-card-height;
  background-color: $clr-neutral-5;
  padding: $card-padding;
  border-radius: $card-border-radius;

  &__form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
  }

  &__avatar-box {
    height: 100%;
  }

  &__avatar {
    width: 4rem;
    height: auto;
  }

  &__comment {
    margin-left: 1rem;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    border: 0.1rem solid $clr-neutral-1;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-family: "Rubik", sans-serif;
  }

  &--replying {
    width: 50rem;
    margin-left: 5rem;
  }
}
