@import "../sass/variables";
@import "../sass/icon";
@import "../sass/button";

*,
**,
**::after,
**:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

::selection {
  color: $clr-neutral-5;
  background-color: $clr-primary-1;
}
