@import "./variables";

.button {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: $clr-primary-1;
  color: $clr-neutral-3;
  font-size: 1.4rem;
  padding: 1.2rem 0;
  outline: none;
  border: none;
  width: 8rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: rgba($clr-primary-1, 0.8);
    color: rgba($clr-neutral-3, 0.8);
  }

  &--update {
    display: block;
    margin-left: auto;
    margin-right: -2rem;
  }

  &--cancel,
  &--delete {
    width: 13rem;
    padding: 1rem;
  }

  &:hover {
    color: rgba($clr-neutral-3, 0.7);
  }

  &--cancel {
    background-color: $clr-neutral-2;
    &:hover {
      background-color: rgba($clr-neutral-2, 0.7);
    }
  }

  &--delete {
    background-color: $clr-primary-2;
    &:hover {
      background-color: rgba($clr-primary-2, 0.7);
    }
  }
}
