$clr-primary-1: hsl(238, 40%, 52%);
$clr-primary-2: hsl(358, 79%, 66%);
$clr-primary-3: hsl(239, 57%, 85%);
$clr-primary-4: hsl(357, 100%, 86%);

$clr-neutral-1: hsl(212, 24%, 26%);
$clr-neutral-2: hsl(211, 10%, 45%);
$clr-neutral-3: hsl(223, 19%, 93%);
$clr-neutral-4: hsl(228, 33%, 97%);
$clr-neutral-5: hsl(0, 0%, 100%);

$default-font-size: 1.6rem;
$font-weight-bold: 700;
$font-weight-regular: 500;
$font-weight-thin: 400;
